.card-link-item {
  padding: 10px 0;
}
.card-link-item a {
  color: #888;
  font-size: 1rem;
  text-decoration: none;
}

.card-link-item a:hover {
  color: #1dc4e9;
}

.card-link-item.active a {
  color: #1dc4e9;
}
