.container-drop-file {
  height: 200px;
  width: 100%;
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  cursor: crosshair;
}
